@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao meu projeto, DIVTECH!</h1>
    <br>
    <h3>Clique no fornecedor para ver sua lista</h3>
</div>
